* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* styles for header */

.navbar-nav {
  margin-top: 20px;
}
.navbar-brand {
  font-size: 24px;
}

@media (min-width: 992px) {
  .navbar {
    padding: 20px 0;
  }
  .navbar-nav {
    margin: 0px;
    flex: 1;
    justify-content: flex-end;
  }
}

/* styles for main */
.main {
  /* border: 1px solid green; */
  flex: 1;
  padding: 20px 0;
}

/* styles for footer */
.footer {
  height: 40px;
  /* border: 1px solid yellow; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}

/* a {
  text-decoration: none;
  color: #000;
} */

.products__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 10px 0;
}

/* styles for card products */

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-store {
  background-color: var(--bs-dark);
  padding: 10px;
  border-radius: 50%;
}
.btn-store i {
  color: #fff;
}

.loader-container {
  display: flex;
  align-items: stretch;
  /* border: 1px solid red; */
  flex: 2;
  min-height: 100%;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex !important;
}

.hide {
  display: none !important;
}
.list-catgories {
  display: none;
}

@media (min-width: 768px) {
  .btn-category {
    display: none;
  }
  .list-catgories {
    display: block;
    padding: 10px 0;
  }
}

.category-name {
  text-transform: capitalize;
}

.error-page {
  margin-top: 40px;
  text-align: center;
  font-size: 28px;
}

.error-page i {
  font-size: 60px;
}

.page-link {
  color: var(--bs-dark);
}
.page-link:hover {
  color: var(--bs-dark);
}
.page-item.active .page-link {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

/* styles for aside */
.category-name {
  padding: 0;
}
.category-name:hover {
  background-color: var(--bs-dark);
}
.category-name a {
  padding: 10px;
  text-decoration: none;
  color: var(--bs-dark);
  display: block;
}
.category-name:hover a {
  color: var(--bs-light);
}
.category-name.active {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}
.category-name.active a {
  color: var(--bs-light);
}

/* styles for cart item */

.item-cart {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 10px;
}
.item-cart__properties p {
  font-size: 14px;
}
.item-cart__properties .item-name {
  text-transform: capitalize;
}

.item-cart__empty p {
  font-size: 24px;
}
.item-cart__empty i {
  font-size: 24px;
}
